.tariff-detail {
  padding: 20px 60px;
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  width: 80%;
}

.tariff-main-block {
  width: 40%;
  flex: 1;
  border-right: 2px solid #B98776;
  padding-right: 20px;
}

.tariff-title {
  color: #B98776;
  font-size: 28px;
  margin-bottom: 10px;
}

.tariff-description {
  font-size: 16px;
  line-height: 1.5;
}

.tariff-secondary-block {
  width: 40%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-title {
  color: #B98776;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tariff-data-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  border: 2px solid #B98776;
  border-radius: 8px;
  padding: 15px;
  color: #B98776;
}

.tariff-data-block > div {
  font-size: 16px;
  color: #333;
  padding: 5px 10px;
}

.tariff-data-block > div > strong {
  color: #B98776;
}

.tariff-buttons-block {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.back-button,
.order-button {
  width: 40%;
  background-color: #B98776;
  border: 2px solid #B98776;
  color: white;
  padding: 7px 10px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  min-width: 150px;
  text-align: center;
}

.back-button:hover,
.order-button:hover {
  background-color: #a17665;
  border-color: #a17665;
}
